<div class="container">
  <app-slider></app-slider>
  <div class="row">
    <!-- Movies -->
    <div class="text-center">
      <h2 class="lead my-4 fs-3">Our Popular Collection For You</h2>
    </div>
    <!-- <img
        src="https://api.themoviedb.org/3/discover/movie{{ m.poster_path }}"
        class="card-img-top"
        alt="..."
      /> -->

    <!-- <div
      *ngFor="
        let m of movies
          | paginate
            : { itemsPerPage: 20, currentPage: page, totalItems: totalPages }
      "
      class="card col-4 p-2 m-3"
      style="width: 18rem"
    >
      <img
        src="https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top img img-responsive object-fit-cover"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">
          <b> {{ m.title }} </b>
        </h5>
        <div class="paragraph-container">
          <p class="card-text">
            {{ m.overview }}
          </p>
        </div>
        <div class="text-center mb-1" style="font-size: smaller">
          <p>{{ m.release_date | date : "yyyy" }}</p>
        </div>
        <div class="text-center mt-2">
          <a
            routerLink="/lazy-loading/movie/{{ m.id }}/details"
            class="btn btn-primary btn-sm"
            >See More</a
          >
        </div>
      </div>
    </div> -->

    <div
      style="width: 18rem"
      *ngFor="
        let m of movies
          | paginate
            : { itemsPerPage: 20, currentPage: page, totalItems: totalPages }
      "
      class="col-4 p-2 m-3"
    >
      <div class="profile-card-2">
        <a
          style="text-decoration: none; color: inherit; cursor: pointer"
          routerLink="/lazy-loading/movie/{{ m.id }}/details"
        >
          <img
            src="https://images.pexels.com/photos/819848/pexels-photo-819848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img img-responsive object-fit-cover border border-1 rounded-1"
          />
        </a>

        <div class="profile-name fs-4 mb-5">{{ m.title }}</div>
        <div class="paragraph-container profile-username my-5">
          <p class="card-text">
            {{ m.overview }}
          </p>
        </div>
        <div class="profile-username mt-2">
          {{ m.release_date | date : "yyyy" }}
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="text-center my-2">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
